.DS_Store
project.properties
project.xml
cache/*
nbproject/*
temp/*
data/*
logs/*
build/*
*.sublime-*
/build/*
.vagrant
config.json
application/configs/config.json
/private/*
.DS_Store
/env/.env
*.swp
*.swo
vendor/*
